:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.third-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  justify-content: center;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

footer {
  margin: 60px 0;
}

footer .email-footer {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-footer:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.4;
  }

  #yoga_project,
  #weather_project,
  #yogurt_project {
    display: none;
  }

  #yoga_information,
  #weather_information,
  #yogurt_information {
    width: 100%;
  }

  #yoga_button,
  #weather_button,
  #yogurt_button {
    display: block;
    width: 100%;
    text-align: center;
  }

  h2,
  p {
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }
}

.selfie {
  border-radius: 10px;
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  padding: 160px 20px;
}

.content h3 {
  color: black;
  opacity: 1;
}
